<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <h1>Listado de bandas</h1>
    <% for(let i=0; i<listas.length; i++){ %>
        <li>Banda: <a href="bandas/id/<%= [i] %>"> <%= listas[i].nombre  %> </a> <li><img src=" <%= listas[i].cover  %> " alt="" class="fotos"></li></li>
    <% } %> 
</body>
</html>